* {
  box-sizing: border-box;
}

.error p {
  position: absolute;
  width: 133px;
  height: 25px;
  top: 40;
  left: 77;
  color: #333333;
  font-family: Inconsolata;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}

img {
  position: absolute;
  width: 539.22px;
  height: 447.43px;
  top: 265px;
  left: 77px;
}

.title {
  position: absolute;
  top: 265px;
  left: 735px;
  width: 45%;
  height: auto;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333333;
}

.title p {
  margin: 0;
}

.text {
  position: absolute;
  width: 381px;
  height: 108px;
  top: 491px;
  left: 736px;

  font-family: "Space Mono";
  font-style: normal;
  font-size: 24px;
  line-height: 35.54px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.back-button {
  position: relative;
  top: 663px;
  left: 740px;
  width: 216px;
  height: 68px;
  background-color: #333333;

  /*Text button properties*/
  /*width: 130px;
  height: 21px;*/
  /*top: 687px;
  left: 783;*/
  margin: 0;
  padding: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

footer {
  position: absolute;
  top: 1039px;
  left: 577px;
}

footer p {
  margin: 0;
  width: 287px;
  height: 17px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #bdbdbd;
}

@media (max-width: 768px) {
  img {
    position: absolute;
    width: 75%;
    height: auto;
    left: 11.73%;
    right: 11.78%;
    top: 11.49%;
    bottom: 63.44%;
  }

  .title {
    position: absolute;
    width: 350px;
    height: 142px;
    top: 407px;
    left: 24px;
    font-size: 48px;
    line-height: 71px;
  }
}

@media (max-width: 375px) {
  img {
    position: absolute;
    width: 286.83px;
    height: 238px;

    left: 11.73%;
    right: 11.78%;
    top: 11.49%;
    bottom: 63.44%;
  }

  .title {
    position: absolute;
    width: 350px;
    height: 142px;
    top: 407px;
    left: 24px;
    font-size: 48px;
    line-height: 71px;
  }
}
